@use 'base'

.btn-laranja
    background-color: base.$laranja
    color: base.$branco

.btn-laranja:hover
    background-color: base.$laranja-claro

.sidenav-trigger
    i
        color: #6e6e6e

.btn-blog
    a
        margin-top: base.$margin-top20
    