@use 'base'

.btn-laranja
    background-color: base.$laranja
    color: base.$branco

.btn-laranja:hover
    background-color: base.$laranja-claro

.sidenav-trigger
    i
        color: #6e6e6e

.btn-blog
    a
        margin-top: base.$margin-top20
.btn-whatsapp
    a
        font-size: 2.92rem
        font-weight: bold

.btn-submit
    color: base.$branco
    font-weight: 600
    border: none
    padding: 10px 30px
    cursor: pointer
    
    