@use 'base'
div .pontos
    font-size: 29px

div .texto-destaque
    font-size: 49px

div .titulo-serviço-home
    font-size : 24px
    color : base.$cinza
    padding-bottom: 10px

div .img-servico-home
    width: 300px